* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;  
}

.card-logo {
  width:48px;
  height:48px;
}

.border-highlight {
  border-color: #8080805e !important;
}

.banner-link {
  background: rgb(36,0,31);
  background: linear-gradient(90deg, rgba(36,0,31,0.3603816526610645) 19%, rgba(192,192,254,0.8057598039215687) 54%, rgba(192,192,254,0.7497373949579832) 76%, rgba(0,161,255,0) 100%);
  border: none !important;
}

.bi-default-font {
  font-size: 2rem;
  color: cornflowerblue;
}

.bi-options-font {
  font-size: 1.5rem;
  color: cornflowerblue;
}