@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">

    <div class="container-fluid py-3">
        <img class="w-100" src="~/images/homesite-banner.png" />
    </div>

    <div class="container-fluid py-3">
        <h2>Welcome to Our Company</h2>
        <p>We are a software development company specializing in building innovative and robust software solutions.</p>
        <p>Our services include:</p>
        
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">.NET Core</strong>
                        <h3 class="mb-0">Web Application Development</h3>                        
                        <p class="card-text mb-auto">At our software development company, we are committed to delivering exceptional web development services to our clients. We have a team of highly skilled and experienced web developers who are proficient in a wide range of technologies and frameworks. Whether you need a simple informational website or a complex web application, we have the expertise to meet your requirements. Our web development process begins with a thorough understanding of your business goals and target audience. We then collaborate closely with you to create a customized web solution that aligns with your vision. From responsive design and user-friendly interfaces to robust backend development and seamless integration of functionalities, we ensure that your website not only looks great but also performs flawlessly across different devices and browsers. We follow industry best practices and adhere to the latest web development standards to deliver websites that are secure, scalable, and optimized for search engines. Our commitment to quality and client satisfaction drives us to continuously improve and stay updated with the latest trends and technologies in web development. Partner with us for reliable and innovative web development solutions that empower your business online.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">App Development</strong>
                        <h3 class="mb-0">Mobile App Development</h3>
                        <p class="mb-auto">At our software development company, we pride ourselves on delivering top-notch mobile app development services to our clients. Our dedicated team of skilled mobile app developers is well-versed in the latest technologies and platforms, including iOS and Android. We understand that every business has unique requirements, so we begin by thoroughly analyzing your needs, target audience, and market trends. With this knowledge, we work closely with you to design and develop customized mobile applications that align with your business goals. From conceptualization and wireframing to UI/UX design and development, we ensure that your mobile app not only offers a visually appealing interface but also delivers a seamless user experience. Our developers follow industry best practices and leverage cutting-edge tools and frameworks to create robust, secure, and scalable mobile apps. We also offer thorough testing and quality assurance to ensure that your app performs flawlessly across different devices and operating systems. Whether you need a native app, hybrid app, or cross-platform solution, we have the expertise to bring your ideas to life. Partner with us for reliable and innovative mobile app development services that help you stay ahead in the competitive app market.</p>
                    </div>
                </div>
            </div>
        </div>
        
        <h2>Contact Us</h2>
        <div class="contact-info">
            <h2>Contact Information</h2>
            <p><strong>Company Name:</strong> Mason Consultancy Ltd</p>
            <p><strong>Phone:</strong> +44 7847 337097</p>
            <p><strong>Email:</strong> gary.mason@mason-consultancy.com</p>
        </div>

    </div>
</div>